body{
    /* background-color: maroon; */
}

main{
    padding: 48px;
}

 img{
    width: 100%;
    height:100%; 
    border-radius: inherit;
    
 }

.img-container{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border:2px solid yellow;

}